.education__point {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .education__point {
        gap: 10px;
    }
}