.education__desc {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 1024px) {
    .education__desc {
        background-color: var(--background-pink);
        border-radius: 60px;
        padding: 30px 20px;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .education__desc {
        border-radius: 40px;
        padding: 20px 10px;
    }
}