:root {
    --background-pink: #FFF3F5;
}

html {
    scroll-behavior: smooth;
}

.page {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    font-weight: 400;
}

.main {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    color: black;
    font-style: none;
    text-decoration: none;
}

button {
    font-family: 'Inter', sans-serif;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    color: #2245B0;
}