.start__img {
    width: 350px;
    aspect-ratio: 1 / 1;
    border-radius: 175px;
    border: 3px solid #6A86DC;
    object-fit: cover;
    object-position: 0 -10px;
}

@media screen and (max-width: 1279px) {
    .start__img {
        width: 220px;
    }
}