.online__point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1279px) {
    .online__point {
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .online__point {
        align-items: flex-start;
    }
}