.start__text {
    font-size: 28px;
    font-style: italic;
    line-height: 30px;
    text-align: right;
    color: #3B3B3B;
}

@media screen and (max-width: 1279px) {
    .start__text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .start__text {
        font-size: 10px;
        line-height: 12px;
        align-self: flex-end;
    }
}