.footer__arrow-up {
    width: 75px;
    aspect-ratio: 1 / 1;
    position: fixed;
    right: 60px;
    bottom: 60px;
}

@media screen and (max-width: 1279px) {
    .footer__arrow-up {
        width: 50px;
        right: 40px;
        bottom: 40px;
    }
}