.price__desc {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #3B3B3B;
}

@media screen and (max-width: 1279px) {
    .price__desc {
        font-size: 12px;
        line-height: 16px;
    }
}