.online__heart {
    position: absolute;
    z-index: -1;
    top: 308px;
    left: 330px;
    width: 520px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .online__heart {
        top: 190px;
        left: 440px;
        width: 290px;
    }
}

@media screen and (max-width: 768px) {
    .online__heart {
        top: -30px;
        left: 180px;
        width: 120px;
    }
}