.questions__pills {
    position: absolute;
    bottom: -300px;
    right: 50px;
    opacity: 10%;
}

@media screen and (max-width: 1279px) {
    .questions__pills {
        bottom: -220px;
        right: 50px;
        width: 190px;
    }
}

@media screen and (max-width: 1279px) {
    .questions__pills {
        bottom: -180px;
        right: 20px;
        width: 120px;
    }
}