.help__point_1 {
    top: 44px;
    left: 0;
}

@media screen and (max-width: 1279px) {
    .help__point_1 {
        top: 24px;
    }
}

@media screen and (max-width: 768px) {
    .help__point_1 {
        left: -80px;
        top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .help__point_1 {
        left: 0px;
    }
}