.help__point_5 {
    top: 0;
    right: 80px;
}

@media screen and (max-width: 1279px) {
    .help__point_5 {
        right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .help__point_5 {
        right: -90px;
        top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .help__point_5 {
        right: 16px;
        top: 180px;
    }
}