.help__point {
    padding: 16px 20px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #3B3B3B;
    border: 1px solid #4F67B1;
    width: max-content;
    border-radius: 20px;
    position: absolute;
}

@media screen and (max-width: 1279px) {
    .help__point {
        padding: 6px 8px;
        font-size: 12px;
        line-height: 16px;
    }
}