.footer__icon-info {
    position: absolute;
    bottom: -50px;
    right: -340px;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.02em;
    color: #3B3B3B;
    opacity: 75%;
}