.questions__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3B3B3B;
}

@media screen and (max-width: 1279px) {
    .questions__text {
        font-size: 16px;
        line-height: 20px;
    }
}