.start__quote {
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
    .start__quote {
        font-size: 16px;
        line-height: 20px;
    }
}