.header__nav-links {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: end;
    max-width: 1180px;
    margin: 0 100px;
}

@media screen and (max-width: 1279px) {
    .header__nav-links {
        min-width: 558px;
        justify-content: space-between;
        margin: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .header__nav-links {
        min-width: 292px;
        justify-content: space-between;
        margin: 0;
        gap: 10px;
    }
}