.online {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
}

@media screen and (max-width: 1279px) {
    .online {
        margin-top: 80px;
        padding: 0 20px;
        gap: 40px;
    }
}