.price__title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .price__title {
        font-size: 24px;
        line-height: 30px;
    }
}