.links {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 1279px) {
    .links {
        margin-top: 80px;
        gap: 40px;
    }
}

@media screen and (max-width: 768px) {
    .links {
        margin-top: 40px;
        gap: 20px;
    }
}