.help__pill_2 {
    bottom: 30px;
    right: 26px;
    width: 330px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .help__pill_2 {
        width: 200px;
        bottom: -30px;
        right: 16px;
    }
}