.help__pill_1 {
    top: -66px;
    left: 55px;
    width: 320px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .help__pill_1 {
        width: 110px;
        top: -20px;
        left: 50px;
    }
}