.help__img {
    border: 2px solid #4F67B1;
    border-radius: 177px;
    width: 330px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 50px auto 130px auto;
}

@media screen and (max-width: 1279px) {
    .help__img {
        width: 196px;
        margin: 30px auto 80px auto;
    }
}

@media screen and (max-width: 768px) {
    .help__img {
        width: 120px;
        margin: 50px 0 60px 0;
    }
}

@media screen and (max-width: 500px) {
    .help__img {
        width: 120px;
        margin: 80px 0 70px 0;
    }
}