.questions {
    margin-top: 100px;
    background-color: var(--background-pink);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 50px;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .questions {
        border-radius: 60px;
        margin-top: 80px;
        gap: 20px;
        padding: 30px 20px;
    }
}