.help__graph {
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .help__graph {
        width: 684px;
        margin: 0 auto;
    }
}