.help__graph {
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .help__graph {
        width: 684px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .help__graph {
        width: 300px;
        align-items: flex-start;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .help__graph {
        justify-content: flex-start;
        align-items: flex-start;
    }
}