@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__nav/header__nav.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__content/main__content.css);
@import url(./blocks/main/__desc/main__desc.css);
@import url(./blocks/main/__img/main__img.css);
@import url(./blocks/main/__name/main__name.css);
@import url(./blocks/main/__quote/main__quote.css);
@import url(./blocks/main/__text/main__text.css);

@import url(./blocks/help/help.css);
@import url(./blocks/help/__graph/help__graph.css);
@import url(./blocks/help/__point/help__point.css);
@import url(./blocks/help/__point/help__point_1.css);
@import url(./blocks/help/__point/help__point_2.css);
@import url(./blocks/help/__point/help__point_3.css);
@import url(./blocks/help/__point/help__point_4.css);
@import url(./blocks/help/__point/help__point_5.css);
@import url(./blocks/help/__text/help__text.css);
@import url(./blocks/help/__title/help__title.css);
@import url(./blocks/help/__img/help__img.css);
@import url(./blocks/help/__pill/help__pill.css);
@import url(./blocks/help/__pill/help__pill_1.css);
@import url(./blocks/help/__pill/help__pill_2.css);