@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__nav/header__nav.css);

@import url(./blocks/start/start.css);
@import url(./blocks/start/__content/start__content.css);
@import url(./blocks/start/__desc/start__desc.css);
@import url(./blocks/start/__img/start__img.css);
@import url(./blocks/start/__name/start__name.css);
@import url(./blocks/start/__quote/start__quote.css);
@import url(./blocks/start/__text/start__text.css);

@import url(./blocks/help/help.css);
@import url(./blocks/help/__graph/help__graph.css);
@import url(./blocks/help/__point/help__point.css);
@import url(./blocks/help/__point/help__point_1.css);
@import url(./blocks/help/__point/help__point_2.css);
@import url(./blocks/help/__point/help__point_3.css);
@import url(./blocks/help/__point/help__point_4.css);
@import url(./blocks/help/__point/help__point_5.css);
@import url(./blocks/help/__text/help__text.css);
@import url(./blocks/help/__title/help__title.css);
@import url(./blocks/help/__img/help__img.css);
@import url(./blocks/help/__pill/help__pill.css);
@import url(./blocks/help/__pill/help__pill_1.css);
@import url(./blocks/help/__pill/help__pill_2.css);

@import url(./blocks/education/education.css);
@import url(./blocks/education/__desc/education__desc.css);
@import url(./blocks/education/__img/education__img.css);
@import url(./blocks/education/__point/education__point.css);
@import url(./blocks/education/__points/education__points.css);
@import url(./blocks/education/__arrow/education__arrow.css);
@import url(./blocks/education/__text/education__text.css);
@import url(./blocks/education/__title/education__title.css);

@import url(./blocks/online/online.css);
@import url(./blocks/online/__content/online__content.css);
@import url(./blocks/online/__number/online__number.css);
@import url(./blocks/online/__point/online__point.css);
@import url(./blocks/online/__text/online__text.css);
@import url(./blocks/online/__title/online__title.css);
@import url(./blocks/online/__heart/online__heart.css);

@import url(./blocks/questions/questions.css);
@import url(./blocks/questions/__desc/questions__desc.css);
@import url(./blocks/questions/__important/questions__important.css);
@import url(./blocks/questions/__text/questions__text.css);
@import url(./blocks/questions/__title/questions__title.css);
@import url(./blocks/questions/__pills/questions__pills.css);

@import url(./blocks/price/price.css);
@import url(./blocks/price/__block/price__block.css);
@import url(./blocks/price/__book-button/price__book-button.css);
@import url(./blocks/price/__content/price__content.css);
@import url(./blocks/price/__desc/price__desc.css);
@import url(./blocks/price/__name/price__name.css);
@import url(./blocks/price/__point/price__point.css);
@import url(./blocks/price/__text/price__text.css);
@import url(./blocks/price/__title/price__title.css);
@import url(./blocks/price/__value/price__value.css);
@import url(./blocks/price/__book-link/price__book-link.css);

@import url(./blocks/links/links.css);
@import url(./blocks/links/__cards/links__cards.css);
@import url(./blocks/links/__link-card/links__link-card.css);
@import url(./blocks/links/__name/links__name.css);
@import url(./blocks/links/__title/links__title.css);
@import url(./blocks/links/__img/links__img.css);