.online__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-align: left;
}

@media screen and (max-width: 1279px) {
    .online__title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
}