.education__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .education__title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .education__title {
        font-size: 14px;
        line-height: 18px;
    }
}