.header__nav-link {
    padding: 4px 8px;
    font-size: 20px;
    line-height: 28px;
}

.header__nav-link:hover {
    background-color: var(--background-pink);
    border-radius: 16px;
}

.header__nav-link:active {
    background-color: var(--background-pink);
    border-radius: 16px;
}

@media screen and (max-width: 1279px) {
    .header__nav-link {
        font-size: 16px;
        line-height: 22px;
    }
}