.footer__background {
    position: absolute;
    right: -312px;
    top: -70px;
    z-index: 1;
    opacity: 10%;
    width: 200px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .footer__background {
        width: 120px;
        right: -160px;
        top: -20px;
    }
}